<div class="container">
  <div class="wrapper">
    <div class="search-container" fxLayoutAlign="center start">
      <label class="search-wrapper" fxLayoutAlign="start center">
        <img class="icon-search" src="../assets/icons/Search.svg" alt="">
        <input type="text" placeholder="username" name="username" [(ngModel)]="username" (ngModelChange)="search()"
          autocomplete="off">
        <div *ngIf="findedProfile && showFindedProfile" class="findedProfil" fxLayout="row" fxLayoutGap="12px"
          [fxLayoutAlign]="findedProfile.bio?'start center':'start start'" (click)="selectProfile()">
          <div class="img">
            <img [src]="findedProfile.avatar_url" alt="">
          </div>
          <div fxLayout="column" fxLayoutGap="8px">
            <span class="name">{{findedProfile.name}}</span>
            <span class="bio">{{findedProfile.bio}}</span>
          </div>
        </div>
      </label>
    </div>

    <div class="user-data" fxLayout="column" fxLayoutGap="34px">
      <div *ngIf="profile" class="profile-infos" fxLayout="column" fxLayoutGap="20px">
        <div class="top" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" fxLayoutGap="34px"
          fxLayoutGap.lt-sm="16px">
          <div class="user-pp-wrapper">
            <div class="pp" [ngStyle]="{'background':'url('+profile.avatar_url+')'}"></div>
          </div>
          <div class="infos" *ngIf="infos" fxLayout="row wrap">
            <div *ngFor="let info of infos" class="info" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="start center">
              <span class="label">{{info.label}}</span><span class="separator"></span><span
                class="value">{{info.value}}</span>
            </div>
          </div>
        </div>
        <div class="bottom" fxLayout="column" fxLayoutGap="8px">
          <span class="profile-name text-on-1-line">{{profile.name}}</span>
          <span class="profile-bio">{{profile.bio}}</span>
        </div>
      </div>
      <div *ngIf="displRepos" fxLayout="column" fxLayoutGap="46px">
        <div class="repos" fxLayout="row wrap" fxLayoutAlign="start start">
          <div class="repo" fxFlex="48.5" fxFlex.lt-md="100" fxLayout="column" fxLayoutGap="20px"
            *ngFor="let repo of displRepos">
            <div fxLayout="column" fxLayoutGap="12px">
              <span fxLayoutAlign="space-between center">
                <span class="name">{{repo.name}}</span>
                <a target="_blank" class="icon-goto-repos" fxLayoutAlign="center center" [href]="repo.html_url">
                  <mat-icon> call_made</mat-icon>
                </a>
              </span>
              <p *ngIf="repo.description" class="description text-on-2-line">{{repo.description}}</p>
            </div>
            <p class="repos-details" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
              <span fxLayout="row" fxLayoutGap="12px">
                <span *ngIf="repo.license" class="shield" fxLayout="row" fxLayoutAlign="start center"
                  fxLayoutGap="4px"><img src="../assets/icons/Chield_alt.svg"
                    alt=""><span>{{repo.license.spdx_id}}</span></span>
                <span class="nesting" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px"><img
                    src="../assets/icons/Nesting.svg" alt=""><span>{{repo.forks}}</span></span>
                <span class="stars" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px"><img
                    src="../assets/icons/Star.svg" alt=""><span>{{repo.stargazers_count
                    }}</span></span>
              </span>
              <span class="update">{{ formatDate(repo.updated_at)
                }}</span>
            </p>
          </div>
        </div>
        <div fxLayoutAlign="center center">
          <span class="btn-plus" (click)="handleViewAllRepos()" *ngIf="displRepos.length != repos.length">View all
            repositories</span>
          <span class="btn-plus" (click)="handleShowLessRepos()" *ngIf="displRepos.length==repos.length">View
            less</span>
        </div>
      </div>
      <p *ngIf="repos && repos.length==0" class="empty">Repos vide</p>
    </div>
  </div>
</div>